### Import Libraries and Excel File

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv(r'C:\Users\jesse\Ask a Manager Dataset\Ask-A-Manager-Salary-Survey-2021-Responses-Form-Responses.csv',
                converters={'employee_id': str.strip})

### Data Exploration

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.columns = ['Date', 'Age', 'Industry', 'Job_Title', 'Job_Context', 'Annual_Salary', 'Bonuses/Overtime', 'Currency',
              'Other_Currency', 'Income_Context', 'Business_Country', 'US_State', 'Business_City', 'Total_Experience',
              'Total_Domain_Experience', 'Education_Level', 'Sex', 'Race']

In [ ]:
df.head()

In [ ]:
#find the ratio of missing data in specific columns

df.isna().sum() / df.shape[0]

In [ ]:
df[df['Other_Currency'].notnull()]

In [ ]:
df[df['Income_Context'].notnull()]

### Data Manipulation

In [ ]:
df.drop(['Other_Currency', 'Income_Context', 'US_State', 'Job_Context'], axis=1, inplace=True)

In [ ]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [ ]:
df['Bonuses/Overtime'].fillna(0, inplace=True)

In [ ]:
df.dtypes

In [ ]:
df['Annual_Salary'] = df['Annual_Salary'].str.replace(',', '')
df['Annual_Salary'] = df['Annual_Salary'].apply(pd.to_numeric)

In [ ]:
df['Bonuses/Overtime'] = df['Bonuses/Overtime'].astype(int)

In [ ]:
df.head()

In [ ]:
#import our list of countries for later dataframe cleaning

country_list = pd.read_excel(r'C:\Users\jesse\Country-List.xlsx')
country_list.astype(str)

In [ ]:
df['Business_Country'] = df['Business_Country'].str.strip()

In [ ]:
df['Business_Country'].unique()

In [ ]:
#map our country list to the dataframe to pick up any matching values before proceeding with cleaning

maps = dict(zip(country_list['Country Name'], country_list['Country Code']))
df['Business_Country'] = df['Business_Country'].map(maps).fillna(df['Business_Country'])

### Replace obscure country data with appropriate country code

In [ ]:
df.loc[df['Business_Country'].str.contains(
    'United St|Usa|States|Statez|Sates|America|U.S.A|U.S>|U. S.|U.A.|U.SA|Us|Us Of A|U.S.|U.S.|u.s.|U.s.|U. S|ðŸ‡ºðŸ‡¸|Unitef Stated|California|San Francisco|Virginia|ISA|I.S.', 
                                           case=False, regex=True), 'Business_Country'] = 'US'
df.loc[df['Business_Country'].str.contains(
    'Scotland|United Kingdom|Uk|Great Britain|England|England/UK|England|Britain|U.K.|United Kindom|Great Britain|U.K|Unites kingdom|Wales|Englang|Hartford'
    , 
                                           case=False, regex=True), 'Business_Country'] = 'GB'
df.loc[df['Business_Country'].str.contains(
    'canada|Canada|CANADA|Canadw|Can|Canda|Csnada|Canad', 
                                           case=False, regex=True), 'Business_Country'] = 'CA'
df.loc[df['Business_Country'].str.contains(
    'Zealand', 
                                           case=False, regex=True), 'Business_Country'] = 'NZ'
df.loc[df['Business_Country'].str.contains(
    'Netherlands|Nederland|netherlands', 
                                           case=False, regex=True), 'Business_Country'] = 'NL'
df.loc[df['Business_Country'].str.contains(
    'Ireland', 
                                           case=False, regex=True), 'Business_Country'] = 'IE'
df.loc[df['Business_Country'].str.contains(
    'czech republic|CZECH', 
                                           case=False, regex=True), 'Business_Country'] = 'CZ'
df.loc[df['Business_Country'].str.contains(
    'SWITZERLAND|switzerland', 
                                           case=False, regex=True), 'Business_Country'] = 'CH'
df.loc[df['Business_Country'].str.contains(
    'hong konh|japan', 
                                           case=False, regex=True), 'Business_Country'] = 'JP'
df.loc[df['Business_Country'].str.contains(
    'Africa|Cote d\'Ivoire', 
                                           case=False, regex=True), 'Business_Country'] = 'CF'
df.loc[df['Business_Country'].str.contains(
    'South africa', 
                                           case=False, regex=True), 'Business_Country'] = 'ZA'
df.loc[df['Business_Country'].str.contains(
    'FRANCE|france', 
                                           case=False, regex=True), 'Business_Country'] = 'FR'
df.loc[df['Business_Country'].str.contains(
    'finland', 
                                           case=False, regex=True), 'Business_Country'] = 'FI'
df.loc[df['Business_Country'].str.contains(
    'Sri lanka', 
                                           case=False, regex=True), 'Business_Country'] = 'LK'
df.loc[df['Business_Country'].str.contains(
    'Catalonia|spain', 
                                           case=False, regex=True), 'Business_Country'] = 'ES'
df.loc[df['Business_Country'].str.contains(
    'South Korea', 
                                           case=False, regex=True), 'Business_Country'] = 'KR'
df.loc[df['Business_Country'].str.contains(
    'Danmark|denmark', 
                                           case=False, regex=True), 'Business_Country'] = 'DK'
df.loc[df['Business_Country'].str.contains(
    'The Bahamas', 
                                           case=False, regex=True), 'Business_Country'] = 'BS'
df.loc[df['Business_Country'].str.contains(
    'Brasil', 
                                           case=False, regex=True), 'Business_Country'] = 'BR'
df.loc[df['Business_Country'].str.contains(
    'singapore', 
                                           case=False, regex=True), 'Business_Country'] = 'SG'
df.loc[df['Business_Country'].str.contains(
    'Luxemburg', 
                                           case=False, regex=True), 'Business_Country'] = 'LU'
df.loc[df['Business_Country'].str.contains(
    'MÃ©xico', 
                                           case=False, regex=True), 'Business_Country'] = 'MX'
df.loc[df['Business_Country'].str.contains(
    'croatia', 
                                           case=False, regex=True), 'Business_Country'] = 'HR'
df.loc[df['Business_Country'].str.contains(
    'INDIA', 
                                           case=False, regex=True), 'Business_Country'] = 'IN'

In [ ]:
#replace non country data and drop from dataframe

df.loc[df['Business_Country'].str.contains(
    '$2,175.84|commission|brought in|remote|contracts|deducted|finance|na|Policy|Y|Global|United y|europe|UXZ', 
                                           case=False, regex=True), 'Business_Country'] = np.nan
df.dropna(axis=0, how='any', subset=['Business_Country'], inplace=True)

In [ ]:
df['Business_Country'].unique()

In [ ]:
df.columns

In [ ]:
df.Total_Experience.unique()

In [ ]:
df.loc[df['Total_Experience'].str.contains('5-7 years',
      case=False), 'Total_Experience'] = '5 - 7 years'

In [ ]:
df.Age.unique()

In [ ]:
df.loc[df['Age'].str.contains('5 - 7 years',
      case=False), 'Age'] = '5-7'

In [ ]:
df.Age.replace('-', ' - ', inplace=True)

In [ ]:
#make the 'Age' column consistent

def insert_space(string):
    s = string.strip()
    return s.split('-')[0]+ ' - ' + s.split('-')[-1]
df['Age'].apply(lambda x: insert_space(x))

In [ ]:
df.Age.unique()

In [ ]:
df.loc[df['Industry'].isnull()]

In [ ]:
df.dropna(axis=0, how='any', subset=['Industry'], inplace=True)

In [ ]:
df.Industry.isna().sum()

In [ ]:
#drop empty rows from dataframe with empty info in 'Business_City', 'Education_Level', 'Sex', 'Race'

df.dropna(axis=0, how='any', subset=['Business_City'], inplace=True)
df.dropna(axis=0, how='any', subset=['Education_Level'], inplace=True)
df.dropna(axis=0, how='any', subset=['Sex'], inplace=True)
df.dropna(axis=0, how='any', subset=['Race'], inplace=True)

In [ ]:
df.shape

In [ ]:
df.isna().sum() / df.shape[0]

### Data Visualisation

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
max(df.Annual_Salary)

In [ ]:
df[df.Annual_Salary == 870000000]

In [ ]:
df = df[df.Annual_Salary != 870000000]

In [ ]:
df.Sex.unique()

In [ ]:
df2 = df[(df.Sex != 'Other or prefer not to answer') & (df.Sex !='Prefer not to answer')]

In [ ]:
df2.Sex.unique()

In [ ]:
import seaborn as sns
sex_annual_salary = df2.groupby('Sex')['Annual_Salary'].mean()

In [ ]:
sns.barplot(data=df2, x=sex_annual_salary.index, y=sex_annual_salary.values, order=['Man','Woman','Non-binary'], 
            palette="rocket_r").set(title='Average Salary Difference by Sex')
plt.show()

In [ ]:
x = df2.groupby(['Education_Level', 'Sex']).agg({'Annual_Salary':['mean'], 'Sex': ['count']}).reset_index()

In [ ]:
x.columns = ['Education_Level', 'Gender', 'Annual_Salary', 'Gender_Count']

In [ ]:
#grouped data in tabular format ready to export if need be

x['Annual_Salary'] = round(x['Annual_Salary']).astype(int)
x

In [ ]:
sns.barplot(data=x, y='Education_Level', x=x['Annual_Salary'].values.flatten(), 
            palette="rocket_r", ci=None).set(title='Average Salary Difference by Education Level')
plt.gca().axes.get_xaxis().set_visible(False)
plt.show()

In [ ]:
g = sns.catplot(data=x, x='Education_Level', y='Annual_Salary', col='Gender', kind='bar', palette="rocket_r")
g.set_xticklabels(rotation=90)
g.set_axis_labels("", "Average Annual Salary")

In [ ]:
df.groupby('Race')['Annual_Salary'].mean().nlargest(n=5).plot(kind='barh', cmap='PiYG').set(
title='Top 5 Highest Average Earners by Race')

In [ ]:
df.groupby('Age')['Annual_Salary'].mean().nlargest(n=5).plot(kind='bar', cmap='PiYG').set(
title='Highest Average Earners by Age')